.DS_Store
dist/
node_modules/
build/
coverage/
/packages/api/store/*
!/packages/api/store/gitkeep
dist_electron/

/packages/api/.coveralls.yml
/.env

/packages/client/tests/e2e/videos/
/packages/client/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

store/*.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/packages/client/res/


/packages/api/src/repositories/store/
/data/
