html{
    height: 100%;
}

body {
    background: #242424;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fffcf5;
}

a {
   text-decoration: none;
    color: white;
}

a:hover {
    color: #00a0b4;
}

a:active {
    color: #00a0b4;
}

.header {
    text-align: center;
    margin-top: 100px;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 50px;
    color: #3AA1A0;
}

.under-construction {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 40px;
    color: #cfdbd5;
}

.navbar {
    display: grid;
    grid-template-columns: 4fr 2.5fr;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: white;
    background-color: #1b1b1b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.links-all {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
}

.link-each {
    font-size: small;
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-name {
    display: inline-flex;
}

.footer-links{
    grid-column-start: 2;
}

.data {
    font-weight: 900;
}

.sleuth {
    font-weight: lighter;
}

.icon {
    max-height: 1.8em;
    margin-top: 0.8em;
    margin-left: 1em;
    margin-right: 0.5em;
}

.software-name{
    font-size: 100px;
    margin-top: 5%;
}

.slogan{
    font-size: 20px;
}

.btn {
    margin-top: 10%;
    background-color: #00a0b4;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #00899b;
}

.scroll-prompt {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 20px;
}

#download, #quickstart, #about, #email, #form-container {
    height: 100%;
    padding-top: 50px !important;
}

#about{
    align-content: center;
    text-align: center;
}

#form {
    width: 100%;
    align-content: center;
    text-align: center;
}

#form-container {
    width: 60%;
    align-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 90%;
}

#email-iframe {
    margin-left: 28%;
}

#footer {
    width: 100%;
    margin: 0;
    background: #1b1b1b;
    height: 100px;
    position: absolute;
    left: 0;
    text-align: center;
}

#download {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0 !important;
    background: right;
    background-image: url("DSSplash.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.download-left-contents{
    grid-column-end: 2;
    margin-top: auto;
    margin-bottom: auto;
}

.download-right-contents{
    grid-column-start: 2;
    grid-row-start: 1;
    margin: auto;
    align-content: center;
    text-align: center;
}

.left-step{
    clear: both;
    margin-bottom: 12%;
    float: left;
}

.right-step{
    clear: both;
    margin-bottom: 12%;
    float: right;
}

.circular-step-left{
    border: 3px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    align-content: center;
    display: inline-block;
    font-size: 30px;
    color: white;
    margin-right: 12px;
    margin-left: 100px;
}

.circular-step-right{
    border: 3px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    align-content: center;
    display: inline-block;
    font-size: 30px;
    color: white;
    margin-left: 12px;
}

.step-number{
    margin-top: 3px;
}

.step-content{
    display: inline-block;
    font-size: 20px;
    color: white;
}

.extra-detail{
    clear: both;
    width: 80%;
    text-align: justify;
    margin-left: 20%;
}

@media only screen and (max-width: 1240px) {
    .download-left-contents{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }

    .download-right-contents{
        margin-top: 0;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        padding: 10px;
        background: rgba(36,36,36,0.2);
        border-radius: 10px;
    }

    .circular-step-left, .circular-step-right{
        margin: auto;
    }

    .scroll-prompt{
        display: none;
    }

    .left-step{
        margin-bottom: 7%
    }

    .right-step{
        margin-bottom: 7%;
    }

    .extra-detail{
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
}


.download-button:hover {
    color: white;
}

.fields{
    margin-bottom: 20px;
    text-align: justify;
}

.submit-button{
    float: right;
    margin-top: 0;
    width: 100%;
}

input{
    width: 100%;
    height: 20px;
    border-radius: 5px;
    box-shadow: none;
}

textarea{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: none;
}

.form-heading{
    margin-bottom: 40px;
}

.date-edited{
    margin-top: 1em;
}
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

.info-div {
    max-width: 80%;
    padding: 0 10% 2em 10%;
}

.iframe-youtube-embed-box {
    background-color: #1b1b1b;
    padding: 2em;
}

.remote-backend-input {
    background-color: #d3d3d3;
}