html{
    height: 100%;
}

body {
    background: #242424;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fffcf5;
}

a {
   text-decoration: none;
    color: white;
}

a:hover {
    color: #00a0b4;
}

a:active {
    color: #00a0b4;
}

.header {
    text-align: center;
    margin-top: 100px;
    font-family: "Trebuchet MS",sans-serif;
    font-size: 50px;
    color: #3AA1A0;
}

.under-construction {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 40px;
    color: #cfdbd5;
}

.navbar {
    display: grid;
    grid-template-columns: 4fr 2.5fr;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: white;
    background-color: #1b1b1b;
}

.links-all {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
}

.link-each {
    font-size: small;
    padding: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-name {
    display: flex;
    text-align: center;
    vertical-align: center;
}

.data {
    font-weight: bolder;
}

.sleuth {
    font-weight: lighter;
}

.icon {
    max-height: 1.8em;
    margin-top: 0.8em;
    margin-left: 1em;
    margin-right: 0.5em;
}

#download, #quickstart, #about, #email
{
    height: 100%;
    padding-top: 70px !important;
}

#footer{
    width: 100%;
    margin: 0;
    background: #1b1b1b;
    height: 15%;
}

