h1{
    line-height: 20%;
}

/*.all {*/
/*    background-color: black;*/
/*}*/

.header {
    padding: 15px;
    margin-left:100px;
    text-align: center;
    background: gray;
    color: whitesmoke;
    /*font-family: "Trebuchet MS";*/
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;

}

#settings{
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    bottom: 50px;
    width: 150px;
}
.sidebar {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: dimgray;
    float: left;
    height: 100%;
    overflow: auto;
    padding-top: 100px;
    line-height: 50px;
}


.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}


.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}


.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
}

.main{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 40px;
}

.boxes{
    padding: 10px;
    margin-top: 50px;
    margin-left: 150px;
}

/*.boxes a:hover:not(.active) {*/
/*    background-color: cornflowerblue;*/
/*}*/

.item{
    padding: 10px;
    margin-bottom: 10px;
}

.topnav{
    margin: auto;
    margin-top: 30px;
    padding-left: 20%;
    padding-right:8%;
}

{
    box-sizing: border-box;
}


/* Style the search field */
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    height: 40px;
    background: #f1f1f1;
    margin-top: 30px;
    margin-left: 100px;
}

/* Style the submit button */
form.search button {
    float: left;
    width: 8%;
    height: 40px;
    padding: 10px;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top: 30px;
}

form.search button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.search::after {
    content: "";
    clear: both;
    display: table;
}